@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lcdbg: #202020;
  --tilebg: #242424;
  --foreground: #b5b5b5;
  --bghighlight: #464646;
  --background: #2e2e2e;
  --highlight: #f2b066;
  --highlight2: #58c0d2;
}

h1, h2, h3, h4, h5 {
  @apply font-heading;
}

h1 { 
  @apply text-5xl;
}
h2 { 
  @apply text-4xl;
}
h3 { 
  @apply text-3xl;
}
h4 { 
  @apply text-xl;
}

body {
  color: var(--foreground);
  background: var(--background);
}
