@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lcdbg: #202020;
  --tilebg: #242424;
  --foreground: #b5b5b5;
  --bghighlight: #464646;
  --background: #2e2e2e;
  --highlight: #f2b066;
  --highlight2: #58c0d2;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-heading;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-6xl;
}
h3 {
  @apply text-4xl;
}
h4 {
  @apply text-2xl;
}

.prose h3 {
  @apply text-4xl;
}

.prose h4 {
  margin-bottom: 0;
  @apply text-highlight2;
}

.prose a {
  text-decoration-color: #ffffff44;
}
.prose a:hover {
  text-decoration-color: #ffffff;
}

img.markdown-image {
  @apply max-h-[25em];
}

@media screen and (max-width: 640px) {
  .nav-outer input ~ .nav-content {
    clear: both;
    display: none;
  }
  .nav-outer input:checked ~ .nav-content {
    display: block;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
